margin: 0p nadding:

box-sizing: border-box;

body

display: flex;

Justify-contest: center;

ation-stems: center;

nun-height: 108vh background whitesur

fant-family: Verdana, Geneva, Tahoma, sans-serif;

eight: 100% wlath: 100%;

text-align: center;

font-size: 1.5em; color: #e94458:

nargin: 15px

width: 100%

height: 5px; display: fles;

justify-content: center;

margin-top: 5px;

button ( position: absolute;

230px height: inherit;

calors witte: fant-stze: 1.2em;

border-radius: 3 outline: none;

cursor: printer box-shadow: 2px 4px gray;

border: 2px solid #

font-size: 12

buttoninth chil1)(

nargin-left: -добри

background: #4

buttosinth-child(2)

83.3K

naruin-right: 200p

background: white: color: #e944581

